<div class="cart-item">
  <div class="item-details">
    <div class="book-thumbnail">
      <div class="thumbnail-placeholder">
        <div class="placeholder-line"></div>
      </div>
    </div>
    <div class="item-info">
      <div>
        <h3 class="item-title">The Lighthouse Keeper</h3>
        <p class="item-author">Mara Ellison</p>
      </div>
      <button class="remove-btn" type="button">Remove</button>
    </div>
  </div>

  <div class="item-actions">
    <div class="quantity-selector">
      <button type="button">-</button>
      <span>2</span>
      <button type="button">+</button>
    </div>
    <div class="item-price">$36.00</div>
  </div>
</div>
